
body {
    background-color: black;
    color: white;
    text-align: center;
    font-family: Arial, sans-serif;
}

#gameCanvas {
    margin-top: 20px;
}

#difficultySection {
    display: block; /* Visible before game starts */
    margin-top: 20px;
    font-size: 18px;
    padding: 5px;
}

#difficulty {
    font-size: 18px;
    padding: 5px;
}

#startButton {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#restartButton {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    font-size: 16px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    cursor: pointer;
}